# ملفات البناء
bin/
obj/

# ملفات النظام
*.dll
*.exe
*.pdb


# إعدادات المستخدم
*.user
*.suo
*.cache

# إعدادات Visual Studio
.vs/
*.suo
*.user
*.vsidx
*.ipch
*.cache

# ملفات النشر المؤقتة
publish/
*.log
*.DS_Store
*.tlog